:root {
    --background-color: #ff8b2d;
    --text-color: #2b2b2b; 
    --logo-color: #006aff;
    --header-color: #dedede;
}

/* font-family: "Playwrite DE Grund", cursive;
font-family: "Roboto", sans-serif; */

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.container {
    padding-left: auto;
    padding-right: auto;
}

.body {
    background-color: var(--logo-color);
    color: var(--text-color);
    font-family: "Roboto";
}

.main {
    background-color: var(--background-color);
}


/* header */

.header {
    background-color: var(--header-color);
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
}

.logo {
    font-family: "Playwrite DE Grund";
    font-weight: 700;
    margin-left: 100px;
    font-size: 30px;
}

.logo1 {
    color: var(--logo-color);
}

.logo2 {
    color: var(--text-color);
}

.logo3 {
    color: var(--background-color);
}

.header-nav {
    display: flex;
    align-items: center;
}


.header-items {
    display: flex;
    align-items: center;
    margin-left: 100px;
    font-family: "Roboto";
}

.header-items {
    gap: 20px;
}

.header-link {
    color: var(--text-color);
}

.header-link:hover {
    color: var(--logo-color);
}

/* Головна */

.us {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.us-title {
    font-weight: 600;
    font-size: 40px;
}

.us-span {
    font-weight: 900;
}

.us-text {
    margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
}

.us-span-p {
    text-decoration: 2px line-through;
    text-decoration-color: red;
    font-weight: 800;
}

/* footer */

.footer {
    background-color: var(--header-color);
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap: 100px;
}

.footer-items {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-link {
    color: var(--text-color);
}

.footer-link:hover {
    color: var(--logo-color);
}

/* Font Fascia */

.font-title {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    font-family: "Playwrite DE Grund";
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.font-text {
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-top: 15px;
}

.font-span {
    font-weight: 700;
}

.font-margin-bottom {
    margin-bottom: 8px;
}

.font-img {
    margin: auto;
    width: 1000px;
}

.font-img-box {
    border: 2px solid ;
    border-radius: 140px;
    background-color: ;
}

/* reset.css and normalize */

.reset {
    padding-top: 15px;
}

.reset-title {
    display: flex;
    justify-content: center;
    font-weight: 999;
    border-bottom: 1px solid ;
    padding-bottom: 15px;
}

.reset-text {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-weight: 500;
}

.span {
    color: black;
    font-weight: 999;
    margin-bottom: 15px;
}

.reset-code {
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: rgb(0, 110, 255);
}

.reset-items {
    border: 2px solid ;
    border-radius: 25px;
    background-color: rgba(29, 29, 29, 0.719);
    padding-top: 10px;
    padding-bottom: 10px;
}

.reset-box2 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
}

.normalize-box {
    padding-top: 15px;
    padding-bottom: 15px;
}

.normalize-title {
    border-bottom: 1px solid ;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

.normalize-link {
    color: var(--logo-color);
}

.normalize-text {
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.normalize-text2 {
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.normalize-image {
    margin: auto;
    border-radius: 20px;
    width: 800px;
}

/* lms */

.lms {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.lms-title {
    font-size: 40px;
    margin-bottom: 15px;
}

.lms-span {
  text-decoration: line-through;
  text-decoration-line: underline;
  color: var(--logo-color);
}

.lms-text {
    font-size: 20px;
}

/* Github Desktop */

.ghd {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ghd-title {
    font-size: 40px;
}

.ghd-span {
    font-weight: 900;
}

.ghd-text {
    margin-top: 10px;
}

.ghd-link {
    text-decoration: line-through;
    text-decoration-line: underline;
    color: var(--logo-color);
}

.ghd-tutor {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}